<header>
    <h1 class="logo">Simple Blog</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="blogs/creare-blog">New Blog</a></li>
        </ul>
    </nav>
</header>